<!-- NAVBAR SECTION -->
<div class="navbar-main">
    <div class="container">
        <nav id="navbar-example" class="navbar navbar-expand-lg">
            <a class="navbar-brand" href="index.html">
                <img src="assets/images/logo.png" alt=""  width="200" 
                height="150">
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item active">
                        <a class="nav-link"  routerLink="home">home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link"  routerLink="about" >About us</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link"  routerLink="activity">Activities</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link"  routerLink="">Events</a>
                    </li>

                    <li class="nav-item">
                     <!-- <a class="nav-link"  routerLink="admin" *ngIf="resolve()">Admin</a>
                        -->
                        <a class="nav-link"  routerLink="admin" >Account</a>
                    </li>
                    

                  <li class="nav-item">
                   <!-- <a class="nav-link"  routerLink="login" *ngIf="!resolve()">Login</a>-->
                    <a class="nav-link"  routerLink="login" >Login</a>
                  </li>

                  <li class="nav-item">
                    <a class="nav-link pointer" *ngIf="resolve()" (click)="logout()">logout</a>
                  </li>

                </ul>
            </div>
        </nav>
        <!-- -->

    </div>
</div>
